@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login {
    position: relative;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
    width: 25rem;
    height: 35.25rem;
    background-color: hsla(0, 0%, 10%, 0.1);
    padding: 2.5rem;
    overflow: hidden;
    border: 2px solid orange;
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    transition: 1.5s;
}

.wrapper:hover {
    box-shadow: 0 0 5rem orange;
    /* animation: animate 1s linear infinite; */
}

/* @keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
} */

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
    transform: translateY(-28.2rem);
}

.wrapper .form-wrapper.sign-up {
    position: absolute;
    top: 35rem;
    left: 0;
}

.wrapper.active .form-wrapper.sign-up {
    transform: translateY(-35rem);
}

h2 {
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
}

.login-icon,
.login-eye {
    font-size: 1.25rem;
    color: #fff;
}

.login-eye {
    color: #fff;
    position: absolute;
    right: 0;
    top: 0.75rem;
    z-index: 10;
    cursor: pointer;
}

.input-group {
    position: relative;
    margin: 1.9rem 0;
    border-bottom: 2px solid #fff;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 20rem;
    height: 2.5rem;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
}

.remember {
    margin: -5px 0 15px 5px;
}

.remember label {
    color: #fff;
    font-size: 0.9rem;
}

.remember label input {
    accent-color: orange;
}


button {
    position: relative;
    width: 35%;
    height: 2.5rem;
    font-size: 1 rem;
    font-weight: var(--font-medium);
    cursor: pointer;
    letter-spacing: .1em;
    color: orange;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid orange;
    border-radius: 0.5rem;
    padding: 0.5rem;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
}

.BtnOut {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button:hover {
    transition-delay: 0s, 1s;
    color: #fff;
    box-shadow:
        0 0 15px orange,
        0 0 15px orange,
        0 0 15px orange,
        0 0 15px orange,
        0 0 15px orange;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 0;
    height: 100%;
    background: orange;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
}

button:hover:before {
    width: 100%;
}

.signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.signUp-link p {
    color: #fff;
}

.signUp-link p a {
    color: grey;
    text-decoration: none;
    font-weight: 500;
}

.signUp-link p a:hover {
    text-decoration: underline;
}

/* Media queries */

@media screen and (max-width: 1020px) {
    .wrapper {
        height: auto;
        width: auto;
        margin: 0;
    }

    .wrapper:hover {
        box-shadow: none;
    }

    .form-wrapper {
        height: 80vh;
    }

    .input-group{
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .input-group input {
        width: auto;
    }


    .wrapper .form-wrapper.sign-up {
        top: 37rem;
    }
}